body {
    font-family: Helvetica;
}

#title {
    text-align: center;
    margin-top: 2%;
}
#title h1 {
    text-decoration: underline
}

#contentarea{
    margin: 1% 1% 1% 1%;
}

#calculatorarea{
    
    margin: -300px 1% 1% -200px;
    position: absolute;
    top: 55%; left: 50%;
    background-color: #999999;
    width: 400px;
    height: 600px;
    border: thick solid black;
    border-radius: 25px;
}

#screenarea {
    margin-top: 50px;
    text-align: center;
}

.screen{
    text-align: right;
    background-color: #a8c64e;
    margin-left: 43px;
    margin-right: 41px;
    margin-bottom: 0px;
    height: 5px;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 10px;
}

#screenTop{
    font-size: 20px;
    color: #777777;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#screenBottom{
    font-size: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

#buttonarea{
    display: inline-grid;
    margin-top: 40px;
    margin-left: 40px;
    row-gap: 1px;
    column-gap: 1px;
}

.calculatorButton
{
    width: 75px;
    height: 75px;

    font-size: 30px;
    background-color: white;
}

.rightalign{
    float: right;
    margin-right: 2%;
}

.leftalign{
    float: left;
    margin-left: 2%;
}

footer{
    height: 4%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #dddddd;
    border: thin solid black;
}

footer span {
    padding-top: 0.65%;
}

