body {
    font-family: Helvetica;
}

#title {
    text-align: center;
    margin-top: 2%;
}
#title h1 {
    text-decoration: underline
}

#contentarea{
    margin: 1% 1% 1% 1%;
}

#calculatorarea{
    
    margin: -300px 1% 1% -200px;
    position: absolute;
    top: 50%; left: 50%;
    background-color: #999999;
    width: 400px;
    height: 600px;
    border: thick solid black;
}

#screen {
    text-align: center;
    margin-top: 50px;
}

#screenInput{
    font-size: 25px;
    text-align: right;
    height: 150px;
    padding-top: 100px;
}

#buttonarea{
    display: grid;
    grid-gap: 2px;
}

.rightalign{
    float: right;
    margin-right: 2%;
}

.leftalign{
    float: left;
    margin-left: 2%;
}

footer{
    height: 4%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #dddddd;
    border: thin solid black;
}

footer span {
    padding-top: 0.65%;
}

